html, * {
    box-sizing: border-box;
  }
  
  html {
    font-size: 70%;
  }
  
  body {
   
    color: #360066;
    margin: 0;
    
    background: #f5f5f5;
  }
  
  
 
  textarea {
    display: block;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #520099;
  }
  
  
 
 
  
 
  
  
  
   
  #formNoteText1
  {
      width: 300px;
      height: 20px;
      
  }